<!DOCTYPE html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="hotel-california.css" />
	<title>HOTEL CALIFORNIA</title>
</head>
<body>
<div id="header">
<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hotel California</h1>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Such a lovely place</h3>
</div>
<div class="nav-buttons"><a href="home"><div class="nav-buttons">HOME</div></a></div>
<div class="nav-buttons"><a href="about"><div class="nav-buttons">ABOUT</div></a></div>
<div class="nav-buttons"><a href="rooms"><div class="nav-buttons">ROOMS</div></a></div>
<div class="nav-buttons"><a href="form"><div class="nav-buttons">RESERVE</div></a></div>
<br/><br/>
<div class="hr"></div>
<br/>
<br/>
<h1>Room reserved!</h1>
<center>
	<p>Customer: <%= @room.first_name %> <%= @room.last_name %></p>
	<p>You reserved a <%= @room.room_type %> room for <%= @room.days %> days starting on <%= @room.date %>. We will contact you at your given contact information (<%= @room.contact_num %>, <%= @room.email %>) should anything come up. Thank you for choosing to stay in Hotel California."</p>
	<p class="lyrics">""You can check out any time you like,
<br/>(But you can never leave)"</p>
</center>
<div id="footer">Hotel California (c) The Eagles</div>
</body>
</html>
